@tailwind base;
@tailwind components;
@tailwind utilities;
.icon {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
em {
  font-style: normal;
}
#root > div {
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff;
  width: auto;
  position: relative;
  height: 100vh;
  min-height: 100%;
  box-shadow: 0 0 20px #0000000d;
}
header {
  max-width: 480px;
  margin: 0 auto;
  width: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  background-color: #fff;
}
.tab-menu {
  display: flex;
  height: 48px;
}
.tab-menu > li {
  cursor: pointer;
  color: rgb(170, 170, 170);
}
.tab-menu > li.active {
  color: #000;
  font-weight: 700;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
}
.container {
  padding: 0 30px;
  box-sizing: border-box;
}

.how-to > div span {
  position: relative;
}
.how-to > div span::after {
  background: url("/src/assets/icons/arrow-right-20.svg") 50% 50% no-repeat;
  /* background: url('/public/img/icons/arrow-right-20.svg') 50% 50% no-repeat; */
  display: block;
  background-size: contain;
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
